// Specific CSS for your home-page
section {
  // padding: 32px;
}

h2, h1, h3 {
  font-weight: bold;
  font-size: 32px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.shadowed {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
