<footer class="footer">
  <div class="footer-links">
    <a href="https://www.lewagon.com/" target="_blank" rel="noopener noreferrer"><i class="fa-solid fa-globe"></i></a>
    <a href="https://www.nasa.gov/" target="_blank" rel="noopener noreferrer"><i class="fa-solid fa-rocket"></i></a>
      <div class="footer-copyright">
        This application has been made with <i class="fas fa-heart"></i> by the astroflats group
      </div>
  </div>
</footer>
