
<section>
  <div class="welcome-banner shadowed">
    <h1>Welcome to Astroflats!</h1>
    <h3><%= current_user.first_name if user_signed_in? %></h3>
    <p>Let's book flats on another planet</p>
  </div>
</section>
