.welcome-banner {
  background-image: url("https://cdn.pixabay.com/photo/2014/08/11/11/50/moon-415501_1280.jpg");
  background-position: right;
  background-size: cover;
  height: 200px;
  color: white;
  padding: 32px;
}
