.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #f59972;
  transition: all 0.3s ease-in-out;
  &:hover {
      background: rgb(234, 234, 234);
      a {
        color: black;
      }
  }
}

.btn-flat-violet {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #B01E68;
  transition: all 0.3s ease-in-out;
  margin: 0 auto;
  &:hover {
    background: rgb(234, 234, 234);
    a {
      color: black;
    }
  }
}

// .btn-small {
//   color: white;
//   padding: 8px 8px;
//   border-radius: 4px;
//   background: #B01E68;
//   opacity: 0.3;
//   transition: background 0.3s ease;
//   text-decoration: none
// }

.btn-ghost {
  color: #f59972;
  border: 1px solid #f59972;
  padding: 8px 10px;
  border-radius: 4px;
  font-weight: lighter;
  // opacity: 0.6;
  background: white;
  transition: opacity 0.3s ease;
  a{
    text-decoration: none;
    color: #f59972;
  }
  &:hover {
    background:#f59972;
    a {
      color:black
    }
  }
}

// .btn-ghost:hover {
//   opacity: 1;
//   color: black;
// }

// comment
