
h2{
  text-align: center;
  font-weight: bold;
  margin-top: 30px;
}

.title{
  position: absolute;
  bottom: -15px;
  left: 166px;
  color: #fd8552;

}
// .container{
//   display: grid;
//   grid-template-columns: repeat(3, 1fr);
// }


.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  height: 440px;
  width: 400px;
  margin-top: 20px;
  margin-bottom: 30px;
  border-radius: 5px;
  position: relative;
}

.card-trip > img {
  height: 280px;
  width: 100%;
  object-fit: cover;

}

.card-trip h2 {
  font-size: 19px;
  font-weight: bold;
  margin-top: 3px;
}

.card-trip-pricing {
  font-size: 16px;
  font-weight: bold;
  margin-left: 30px;
  position: absolute;
  right: 8px;
  bottom: 0;
  color: #f59972;
}

.card-trip p {
  font-size: 14px;
  opacity: 0.7;
  margin: 0;
}


.card-trip .card-trip-infos {
  padding: 30px;
  // display: flex;
  // justify-content: space-between;
  // align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.card-trip-infos {
  color: black;
}

.card-trip .card-trip-infos .infos {
  height: 100px;
}
