.dashboard-flats-container {
  max-width: 540px;
  height: fit-content;
  background-image: linear-gradient(25deg, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)),
                    url('https://cdn.pixabay.com/photo/2018/09/22/12/31/cat-3695213_1280.jpg');
  padding: 16px;
  margin: 32px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 46px;
  a {
    color: black;
    article {
      background-color: white;
      margin: 16px;
      width: 222px;
      min-height: 170px;
      padding-bottom: 16px;
      text-align: center;
      border-radius: 24px;
      transition: all ease-in-out 0.3s;
      overflow: hidden;
      h5 {
        margin-top: 1rem;
        color: black;
      }
      img {
        width: 101%;
        height: 50%;
        object-fit: cover;
        object-position: 0%;
        border-radius: 24px 24px 0px 0px;
        transition: all ease-in-out 0.3s;
      }
      p {
        margin-top: 0.3rem;
        margin: 0 1rem;
      }
      &:hover {
        border-radius: 5px;
        img {
          border-radius: 5px 5px 0px 0px;
          object-position: 5% 5%;
        }
      }
    }
  }
}
