
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50px;
  padding: 0px 50px;
  margin-top: 50px;
  background: rgb(226, 230, 236);
  // min-height: calc(100vh - (50 + 100));

  .footer-links {
    display: flex;
    align-items: center;
    a {
      color: #000000;
      text-decoration: none;
      font-size: 24px;
      padding: 0px 10px;
      transition: all ease-in-out 0.3s;
      &:hover {
        opacity: 0.7;
        transform: scale(1.1);
      }
    }
  }
  .fa-heart {
    color: #3e3e3e;
  }
}
