.form-container {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  background-image: url(https://cdn.futura-sciences.com/buildsv6/images/largeoriginal/5/2/e/52eeace621_89462_son-espace.jpg);
}
